
body {
  background-image: url("assets/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/4f/58/44/4f58443eead11a1a4947dca1b1c2ec36.jpg");
}
h1, h3 {
  font-family: "Cormorant Garamond", serif;
}

#header {
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}
/* Navbar */
.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
  background-color: black;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: .8rem 1rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.25rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}
/* Search Bar */
.animated-search-form[type=search] {
  width: 15rem;
  border: 0.125rem solid #e6e6e6;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
  border-radius: 2px;
  background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
}

.animated-search-form[type=search]:focus {
  width: 100%;
}


